In [102]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [103]:
# Read the CSV files into DataFrames.
sales_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
sales_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [104]:
# Display the 2020 sales DataFrame
print(sales_2020.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [105]:
# Display the 2021 sales DataFrame
print(sales_2021.head())

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [106]:
# Check the 2020 sales data types.
print(sales_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [107]:
# Check the 2021 sales data types.
print(sales_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [108]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([sales_2020, sales_2021], axis=0)
combined_sales.reset_index(drop=True, inplace=True)
print("Combined sales data:")
print(combined_sales.head())

Combined sales data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [109]:
# Check if any values are null.
null_values = combined_sales.isnull().sum()
print("Amount of null values in each column:")
print(null_values)

Amount of null values in each column:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [110]:
# Check the data type of each column
print("Data types of each column:")
print(combined_sales.dtypes)

Data types of each column:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [113]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

In [98]:
# Confirm that the "invoice_date" data type has been changed.
print("Data type of 'invoice_date' after conversion:")
print(combined_sales['invoice_date'].dtype)

Data type of 'invoice_date' after conversion:
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [114]:
# Show the number products sold for region, state, and city.
grouped_sales = combined_sales.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the sum to "Total_Products_Sold".
grouped_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)


# Show the top 5 results.print("Top 5 regions by total products sold:")
sorted_sales = grouped_sales.sort_values(by='Total_Products_Sold', ascending=False)
print("Top 5 regions by total products sold:")
print(sorted_sales.head(5))

Top 5 regions by total products sold:
       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [115]:
# Show the number products sold for region, state, and city.
pivot_table_sales = pd.pivot_table(combined_sales, 
                                   values='units_sold', 
                                   index=['region', 'state', 'city'], 
                                   aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
sorted_pivot_table_sales = pivot_table_sales.sort_values(by='Total_Products_Sold', ascending=False)
print("Top 5 regions by total products sold:")
print(sorted_pivot_table_sales.head(5))

Top 5 regions by total products sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [116]:
# Show the total sales for the products sold for each region, state, and city.
grouped_sales = combined_sales.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
grouped_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
sorted_sales = grouped_sales.sort_values(by='Total Sales', ascending=False)
print("Top 5 regions by total sales:")
print(sorted_sales.head(5))

Top 5 regions by total sales:
       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [117]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table_sales = pd.pivot_table(combined_sales, 
                                   values='total_sales', 
                                   index=['region', 'state', 'city'], 
                                   aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
sorted_pivot_table_sales = pivot_table_sales.sort_values(by='Total Sales', ascending=False)
print("Top 5 regions by total sales:")
print(sorted_pivot_table_sales.head(5))

Top 5 regions by total sales:
                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [118]:
# Show the total sales for the products sold for each retailer, region, state, and city.
grouped_sales = combined_sales.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
grouped_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Display the top 5 results
sorted_sales = grouped_sales.sort_values(by='Total Sales', ascending=False)
print("Top 5 retailer-region-state-city combinations by total sales:")
print(sorted_sales.head(5))

Top 5 retailer-region-state-city combinations by total sales:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [119]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table_sales = pd.pivot_table(combined_sales, 
                                   values='total_sales', 
                                   index=['retailer', 'region', 'state', 'city'], 
                                   aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
sorted_pivot_table_sales = pivot_table_sales.sort_values(by='Total Sales', ascending=False)
print("Top 5 retailer-region-state-city combinations by total sales:")
print(sorted_pivot_table_sales.head(5))

Top 5 retailer-region-state-city combinations by total sales:
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [125]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = combined_sales[combined_sales['product'] == "Women's Athletic Footwear"]
print("Women's Athletic Footwear Sales Data:")
print(womens_footwear_sales.head())

Women's Athletic Footwear Sales Data:
       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90

    total_sales  operating_profit sales_method
21        10116           3742.92       Outlet
22        10127           4658.42       Online
23       382500         133875.00     In-store
26       135000          47250.00       Outlet
27         3060           1254.60       Outlet

#### Using `groupby`

In [126]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
grouped_sales = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
                    
# Show the top 5 results.
sorted_sales = grouped_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)
print("Top 5 retailer-region-state-city combinations by Women's Athletic Footwear units sold:")
print(sorted_sales.head(5))

Top 5 retailer-region-state-city combinations by Women's Athletic Footwear units sold:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [127]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_sales = pd.pivot_table(womens_footwear_sales, 
                                   values='units_sold', 
                                   index=['retailer', 'region', 'state', 'city'], 
                                   aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
sorted_pivot_table_sales = pivot_table_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)
print("Top 5 retailer-region-state-city combinations by women's athletic footwear units sold:")
print(sorted_pivot_table_sales.head(5))

Top 5 retailer-region-state-city combinations by women's athletic footwear units sold:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [128]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table_sales = pd.pivot_table(womens_footwear_sales, 
                                   values='total_sales', 
                                   index='invoice_date', 
                                   aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print("Total Sales by Invoice Date:")
print(pivot_table_sales)

Total Sales by Invoice Date:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [129]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table_sales.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False)
print("Daily total sales for Women's Athletic Footwear, sorted in descending order:")
print(sorted_daily_sales)

Daily total sales for Women's Athletic Footwear, sorted in descending order:
              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-27              0
2021-02-25              0
2020-07-30              0
2020-07-31              0
2021-01-01              0

[727 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [130]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table_sales.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)
print("Weekly total sales for Women's Athletic Footwear, sorted in descending order:")
print(sorted_weekly_sales)

Weekly total sales for Women's Athletic Footwear, sorted in descending order:
              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]